/* Container Principal - Fundo escuro conforme o protótipo */
.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('src/assets/img/barbearia1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    font-family: 'Inter', sans-serif;
}

/* Card de Login */
.login-card {
    /* Slate 800 */
    padding: 40px;
    width: 100%;
    max-width: 410px;
    height: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-logo {
    width: 120px;
    /* Ajuste conforme o seu logo no Figma */
    height: auto;
    /* Mantém a proporção */
    margin-bottom: 20px;
    /* Espaço entre o logo e o título */
    object-fit: contain;
}

.login-header p {
    color: #ffffff;
    font-size: 1.3rem;
    margin-bottom: 32px;
}

/* Inputs */
.form-group {
    margin-bottom: 16px;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon {
    position: absolute;
    left: 12px;
    color: #E5B817;
}

.input-wrapper ::placeholder {
    color: #8f8f8f;
}

.input-wrapper input {
    width: 100%;
    max-width: 368px;
    height: 62px;
    padding: 14px 14px 14px 44px;
    background: #31374075;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s;
}

/* Link Esqueci Senha */
.forgot-wrapper {
    text-align: center;
    margin-top: 27px;
}

.forgot-link {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.2s;
}

.forgot-link:hover {
    color: #E5B817;
}

/* Botão de Login - Destaque do Figma */
.btn-login {
    width: 100%;
    padding: 14px;
    background-color: #E5B817;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-login:hover {
    background-color: #bd9605;
}

/* Footer do Card */
.login-footer {
    margin-top: 32px;
    color: #ffffff;
    font-size: 14px;
}

.signup-link {
    background: none;
    border: none;
    color: #bd9605;
    font-weight: 600;
    margin-left: 5px;
    cursor: pointer;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}